.Lollipop {
  text-align: center;
  min-height: 300px;
  min-width: 500px;
  width: calc(100% + 1em);
  // width:50%;
  margin-bottom: 2em;
  @media (min-width: 1046px) {
    width: 50%;
  }
  &.Bar {
    & .annotation {
      fill: white;
    }
    & .annotation ~ .annotation {
      fill: #95a5a6;
    }
  }
}
